<div class="container" id="app"><div class="card shadow-2"><div class="card-header"><h1>@Model.Message</h1></div><div class="card-body"><p>Aquí un ejemplo <span>1</span></p><button role="button" class="btn btn-primary text-white">Click me!</button></div></div></div>

@* <div class="container" id="app">
  <div class="card shadow-2">
    <div class="card-header">
      <h1>@Model.Message</h1>
    </div>
    <div class="card-body">
      <p>Aquí un ejemplo 1</p>
      <button role="button" class="btn btn-primary text-white">Click me!</button>
    </div>
  </div>
</div> *@