<div id="app">
  <div class="card shadow-2">
    <div class="card-header"><h1>@Model.Message</h1></div>
    <div class="card-body">
      <p>Aquí un ejemplo <span>0</span></p>
      <button class="btn btn-primary text-white">Click me!</button>
    </div>
  </div>
</div>

