@model HomeIndexModel
@{
   
}

<Partial name="_SampleCard"/>

<button id="hydrate">Hydrate</button>

@section Header {
  @* <script type="module" crossorigin src="/assets/index-b3ce724a.js"></script> *@
  <script type="module" crossorigin src="/index.js"></script>
  @* <script src="~/SampleApp.js" asp-append-version="true"></script> *@
}
